-i https://pypi.org/simple
absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
certifi==2024.8.30
charset-normalizer==3.3.2
contourpy==1.3.0
cycler==0.12.1
django==5.1.1
django-environ==0.11.2
easyocr==1.7.1
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
gast==0.6.0
google-pasta==0.2.0
greenlet==3.1.0
grpcio==1.66.1
h5py==3.11.0
idna==3.10
imageio==2.35.1
imutils==0.5.4
jinja2==3.1.4
keras==3.5.0
kiwisolver==1.4.7
lazy-loader==0.4
libclang==18.1.1
markdown==3.7
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
protobuf==4.25.4
psycopg2==2.9.9
pyclipper==1.3.0.post5
pygments==2.18.0
pyparsing==3.1.4
pytesseract==0.3.13
python-bidi==0.6.0
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
requests==2.32.3
rich==13.8.1
scikit-image==0.24.0
scipy==1.14.1
setuptools==75.1.0
shapely==2.0.6
six==1.16.0
sqlalchemy==2.0.35
sqlparse==0.5.1
sympy==1.13.2
termcolor==2.4.0
tifffile==2024.8.30
torch==2.4.1
torchvision==0.19.1
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
