{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100 mt-5">
        <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="text-center mb-4">
                <h2>Enter New Password</h2>
            </div>

            <form method="post" class="p-4 border rounded shadow-sm bg-white">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary w-100">Save New Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
