{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-4 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h2>Password Reset Complete!</h2>
                <p class="mt-3">Your password has been reset successfully. You can now <a href="{% url 'users:login' %}" class="btn btn-primary">log in</a> with your new password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
