{% extends 'users/base.html' %}

{% block content %}
<div>
    <h1>Profile page: {{user.username}}</h1>
    <img src="{{ user.profile.avatar.url }}" alt="avatar of user"/>
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit">Save Changes</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

<div class="mt-4 mb-4">
    <a href="/carplates" class="btn btn-primary">Add Car Plate</a>
</div>

<h2>Your Car Plates</h2>
{% if car_plates %}
    <ul>
        {% for car_plate in car_plates %}
            <li>{{ car_plate.plate_number }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No car plates found.</p>
{% endif %}

<h2>Your Parking History</h2>
{% if parking_history %}
    <ul>
        {% for parking in parking_history %}
            <li>
                Plate: {{ parking.carplate.plate_number }}, 
                Start: {{ parking.parked_at|date:"Y-m-d H:i" }}, 
                End: {{ parking.unparked_at|date:"Y-m-d H:i" }}, 
                Duration: {{ parking.parked_time }},
                Cost: {{ parking.value }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No parking history found.</p>
{% endif %}


<a href="/parking/export/csv" class="btn btn-primary mt-3">Export Parking History (CSV)</a>

{% endblock content %}
